
body {
  height: 100%;
  background-color: #5dc2eb;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#gamelogo {
  width: 25%;
  height: auto;
}

#contentbox {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}

#content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 575px;
  background-color: rgb(207, 236, 255);
  border: 10px solid rgb(75, 147, 241);
  border-radius: 20px;
  box-shadow: 10px 10px rgb(125, 207, 245);
}

#row1 {
  display: flex;
}

#birddialog {
  display: flex;
  width: 75%;
}

#birdie{
  display: flex;
  width: 30%;
  height: auto;
}

#birdie:hover {
  animation: shake 0.7s;
}

@keyframes shake {
  0% { transform: rotate(2deg);}
  20% { transform: rotate(-4deg); }
  40% { transform: rotate(4deg); }
  60% { transform: rotate(-4deg); }
  80% { transform: rotate(4deg); }
  100% { transform: rotate(-2deg); }

}

#MrKeets {
  width: 100%;
  height: auto;
}

#speechbubble {
  width: 60%;
}

#speechbox {
  border: 8px solid #5589c9;
  border-radius: 50px;
  width: 90%;
  height: auto;
  padding:2.5%;
  text-align: center;
  background: rgb(229, 253, 253);
  font-family: Comic Sans MS;
  font-size: 160%;
  font-weight: 900;
}

#speechbox:hover {
  animation: wiggle 0.7s;
}

@keyframes wiggle {
  0% { transform: rotate(0.3deg);}
  20% { transform: rotate(-0.6deg); }
  40% { transform: rotate(0.6deg); }
  60% { transform: rotate(-0.6deg); }
  80% { transform: rotate(0.6deg); }
  100% { transform: rotate(-0.3deg); }

}

#bubble1 {
  height: 3.3%;
  width: 4.3%;
  background-color: #5589c9;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 1%;
  left: 5.2%;
}

#bubble2 {
  height: 5%;
  width: 6%;
  background-color: #5589c9;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: -2%;
  left: 6.8%;
}

#bubble3 { 
  height: 8%;
  width: 10%;
  background-color: #5589c9;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: -7.5%;
  left: 5%;
}

#row2 {
  display: flex;
  justify-content: center;
  height: 100%;
}

#startbutton {
  position: relative;
  align-content: center;
  height: 100%;
  width: 43%;
  margin-left: 30%;
  top: -42%;
}

#buttontext {
  font-family: comic sans MS;
  font-size: 210%;
  width: 105%;
  margin: 2%;
  text-align: center;
}

#start {
  width: 110%;
  height: 57%;
  background-color: rgb(243, 218, 172);
  border: 10px solid rgb(76, 165, 248);
  border-radius: 50px;
  box-shadow: 6px 10px rgb(95 126 173);
  color: #137777;
  font-family: Verdana;
  font-size: 235%;
  font-weight: bold;
  transition-duration: 0.3s;
}

#forms{
  display: none;
  grid-row: 1;
  grid-column: 2;
  background: #d7faff;
  border: 10px dashed #7aa2fd;
  text-align-last: center;
  margin-top: 6%;
  width: 65%;
  align-self: center;
}

#inputyes {
  accent-color: rgb(72, 142, 247);
  transform: scale(1.5);
}

#inputno {
  accent-color: rgb(72, 142, 247);
  transform: scale(1.5);
}

.label {
  font-size: 240%;
  font-family: Comic Sans MS;
  padding-right: 5%;
}

.para {
  font-family: Comic Sans MS;
  font-size: 250%;
  color: #4387db;
  font-weight: bold;
  text-align: center;
}

#submitbutton {
  width: 70%;
  height: 50px;
  background: rgb(243, 218, 172);
  border: 4px solid #00b8ff;
  border-radius: 10px;
  font-family: verdana;
  font-size: 100%;
  font-weight: bold;
  margin-bottom: 7%;
}

#spellingproper {
  text-align: center;
} 

#input {
  width: 100%;
  height: 100%;
  position: relative;
  top: -38%;
}

#inputbox {
  width: 100%;
  height: 40%;
  border: 6px solid #63b1ff;
  border-radius: 20px;
  box-shadow: 3px 6px #7fa1b1;
  font-family: comic sans MS;
  font-size: 300%;
  
}

#row3 { 
  display: none;
  justify-content: center;
} 

#row4 {
  display: none;
}

#repeat {
  width: 32%;
  height: 30%;
  margin-bottom: 2%;
  background: aliceblue;
  border: 5px solid skyblue;
  border-radius: 20px;
  box-shadow: 3px 5px rgb(144 158 181);
  font-family: Verdana;
  font-size: 125%;
}

#wordsubmit {
  width: 40%;
  height: 35%;
  margin-top: 3%;
  background: #fdd07e;
  border: 5px solid #7bd3d7;
  border-radius: 59px;
  box-shadow: 3px 5px rgb(181 171 144);
  font-family: Comic Sans MS;
  font-size: 125%;
}

#mispel {
  width: 15%;
  display: none;
}

#mistakecount {
  width: 100%;
  height: 10%;
  border: 6px solid #66b1ff;
  border-radius: 20px;
  text-align: center;
  margin-top: 30%;
  margin-left: 25%;
  padding: 1%;
  background-color: #dcffed;
  font-size: 150%;
  font-family: Comic Sans MS;
  align-content:center;


}

#start:hover {
  background-color: rgb(255, 197, 90);
  border-color: rgb(72, 142, 247);
  cursor: pointer;

}

#start:active {
  background-color: rgb(216, 164, 66);
  box-shadow: 3px 5px rgb(72, 98, 138);
  transform: translateY(5px);
}

#repeat:hover {
  background-color: rgb(194, 255, 229);
  border-color: rgb(102, 149, 219);
  cursor: pointer;

}

#repeat:active {
  background-color: rgb(135, 255, 229);
  box-shadow: 1.5px 2.5px rgb(144 158 181);
  transform: translateY(3px);
}

#wordsubmit:active {
  background-color: rgb(210, 230, 99);
  box-shadow: 1.5px 2.5px rgb(148, 134, 78);
  transform: translateY(3px);
}

@media screen and (max-width: 1515px) {
  #birdie {
    width: 35%;
  }

  #startbutton {
    top: -20%;
  }

  #start{ 
    height: 42%;
  }

  #buttontext { 
    font-size: 200%;
  }
}

@media screen and (max-width: 1445px) {
  #buttontext { 
    font-size: 175%;
  }

  #speechbox {
    font-size: 140%;
  }

    #inputbox {
    width: 90%;
  }
}


@media screen and (max-width: 1230px) {
  #birddialog {
    width: 80%;
  }

  #mistakecount {
    margin-left: 0%;
    height: 25%;
    font-size: 120%;
  }

  #startbutton {
    position: static;
    width: 60%;
    margin: 0%;
  }

  #start {
    height: 32%;
    font-size: 205%;
    border-width: 7px;
  }

    #buttontext { 
    margin: 3%;
  }

    #input {
      position: static;
    }
}

@media screen and (max-width: 840px) {
  #gamelogo {
    width: 45%;
  }

  #mistakecount {
    height: 38%;
    font-size: 95%;
  }

  #input {
    margin-top: 10%;
  }
}

@media screen and (max-width: 585px) {
  #gamelogo {
    width: 55%;
  }

  .para {
    font-size: 180%;
  }

  .label {
    font-size: 160%;
  }
}
  












